@{
    ViewData["Title"] = "Home Page";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
        <h1 class="text-center display-6 justify-content-center"><a asp-controller="HangHoa">Let's Go Shopping</a></h1>
</div>
<!-- Single Page Header End -->
